@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

label.logo{
  line-height: 30px;
  padding: 0 50px;
  font-weight: bold;
}
.logo img{
  width: 70px;
  height: auto;
}
nav{
  background-color:rgb(10, 112, 153);
}

nav ul{
  float: right;
  margin-right: 20px;

}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;

}
nav ul li a{
  color: rgb(201, 201, 201);
  font-size: 18px;
  padding: 7px 10px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;

}
nav a.active{
  transition: .6s ease;
}
nav a:hover{
  background: #04435c;
}
.checkbtn{
  font-size: 30px;
  color: #ffffff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
 nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  nav a:hover{
    color: #0082e6;
  }
  
  nav a.active{
    background: none;
  
  }
  #check:checked ~ ul{
    left: 0;
  }
}

footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: rgb(0, 0, 0);
    margin-top: 10em;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #f8f8f8;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
  }
  .left .content p{
    text-align: justify;
    color: white;
    line-height:25px;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: transparent;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    transition: 0.3s;
    color: wheat;
  }
  .left .content .social a span:hover{
    color: chocolate    ;
  }
  .right .content .fa{
    font-size: 1.4375rem;
    background: transparent;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    color:wheat;
  }

  .right .content .fa:hover{
      color: chocolate;
  }
  
  .right .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
    color: white;
  }
  
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }
  